<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="STDOUT" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss,SSS} %-5p [%c] - %m%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="org.hibernate" level="trace"/>
    <Root level="info">
      <AppenderRef ref="STDOUT"/>
    </Root>
  </Loggers>
</Configuration>